@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

// families

$roboto: roboto, tahomoa;
$rockSalt: rock salt, cursive;

// sizes

$fontSizeBig: 48px;
$fontSizeMed: 32px;
$fontSizeSmall: 21px;