.block {
  display: block !important;
}

.container-flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }

  > * {
    flex: 1;
  }
}

.flex-none {
  flex: none;
}

.flex-2 {
  flex: 2;
}

.container-inline {
  width: auto;

  > * {
    display: inline-block;
  }
}

.margin-auto {
  margin: 0 auto !important;
}

.width-100 {
  width: 100%;
}

.text-left,
.text-left * {
  text-align: left !important;
}

.text-right,
.text-right * {
  text-align: right !important;
}