.block {
  display: block !important;
}

.container-flex {
  display: flex;

  &.col {
    flex-direction: column;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  > * {
    flex: 1;
  }
}

.container-inline {
  width: auto;

  > * {
    display: inline-block;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}