html {
  height: 100%;

  body {
    margin: 0;
    height: 100%;
  
    * {
      box-sizing: border-box;
  
      position: relative;
  
      margin: 0;
      padding: 0;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  
      list-style-type: none;
  
      text-align: center;
      text-decoration: none;
  
      // border: 1px solid black;
    }
  }
}

// all views get a height of 100%;
[class*="view-"] {
  height: 50%; // y tho?
}

// all components
[class*="component-"] {
  height: initial; // just a placeholder for now
}